@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui";


@theme {
  /* BD = Bazar Dor (Unique Prefix) */
  --color-bd-text: #1D271F;
  --color-bd-bg: #F0F5F0;
  --color-bd-border: #E1E8E1;
  --color-bd-card: #FAFCFA;
  --color-bd-danger: #D03739;   
  --color-bd-success: #1A9951;    
  --color-bd-accent: #05839E;     
  --color-bd-text-muted: #1d271fb3; 
  --color-bd-light: #F3FBF4;      
  --color-bd-primary: #047F39;    
  --color-bd-primary-hover: #05893E;
}

body {
  background-color: var(--color-bd-bg);
  color: var(--color-bd-text);
}

/* Hide browser default password reveal icon (Edge / Windows) */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
